<!DOCTYPE html>
{% extends 'granja/home.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Trabajador</title>{% endblock %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'granja/css/main.css' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    {% block inner_title %}Granja "El Manantial": Trabajador{% endblock %}
    {% block nav_option1 %}<a class="nav-link" aria-current="page" href="{% url 'logout' %}">Log Out</a>{% endblock %}
    {% block nav_option2 %}{% endblock %}
    {% block nav_option3 %}{% endblock %}

    {% block content %}
    <div class="container my-5" id="menu">
      <div class="row d-flex justify-content-center align-items-center">
        <ul class="nav nav-tabs">
            {% block tab_option1 %}
            <li class="nav-item">
              <a class="nav-link bg-white" aria-current="page" href="{% url 'animals2' %}">Animales</a>
            </li>
            {% endblock %}
            {% block tab_option2 %}
            
            {% endblock %}
            {% block tab_option3 %}
            <li class="nav-item">
              <a class="nav-link bg-white" href="{% url 'supplies2' %}">Suministros</a>
            </li>
            {% endblock %}
            {% block tab_option4 %}
            <li class="nav-item">
              <a class="nav-link bg-white" href="{% url 'production2' %}">Producción</a>
            </li>
            {% endblock %}
            {% block tab_option5 %}
            
            {% endblock %}
      </ul>
      </div>
      <div class="container-fluid p-0" id="contenedor-admin">
        {% block content2 %}{% endblock %}
      </div>
    </div>
    {% endblock %}
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>